Flask==3.1.0
flask_cors==5.0.1
fpdf==1.7.2
fpdf2==2.8.2
numpy==1.24.4
opencv-contrib-python==4.8.0.76
Pillow==11.1.0
torch==2.2.2+cpu
ultralytics==8.3.98
gunicorn
llmwhisperer-client==1.2.0

--extra-index-url https://download.pytorch.org/whl/cpu